<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>操蛋</title>
    <link rel="stylesheet" type="text/css" href="/my-jquery-plug/sky-chezi-effects/nima/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/my-jquery-plug/sky-chezi-effects/nima/default.css">
    <link rel="stylesheet" media="screen" href="/my-jquery-plug/sky-chezi-effects/nima/style.css">
    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <header class="htmleaf-header">

    </header>
    <div id="particles-js"></div>
</div>

<script src="/my-jquery-plug/sky-chezi-effects/nima/particles.js"></script>
<script src="/my-jquery-plug/sky-chezi-effects/nima/app.js"></script>
</body>
</html>