<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ckeditor</title>
    <script src="/my-jquery-plug/edit-effects/ckeditor.js"></script>
    <style>
        body{ background-color:#2D2D2D}
        .m{ width: 800px; margin-left: auto; margin-right: auto; margin-top: 100px; }
    </style>
</head>

<body>

<div class="m">
    <textarea rows="30" cols="50" name="editor01">
        中国又称为：
中华、华夏、神州、赤县、华、诸华、夏、诸夏、中夏·方夏·函夏、禹城·禹迹·禹甸、九州、九牧、九区、九域、八州、九囿、九土、九野、海内
    </textarea>
    <script type="text/javascript">CKEDITOR.replace('editor01');</script>



</div>
</body>
</html>
