<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <title>jQuery单页/全屏滚动插件onepage-scroll演示-回调函数</title>

    <link rel="stylesheet" href="/my-jquery-plug/page-onepage-scroll-effects/onepage-scroll.css" />

    <style>
        .page1 { background-color: #1bbc9b;}
        .page2 { background-color: #FF7F50;}
        .page3 { background-color: #4BBFC3;}
        .page4 { background-color: #f90;}
        p.title { position: relative; top: 35%; font: 700 40px "Microsoft Yahei"; color: #fff; text-align: center;}
    </style>

    <script src="/my-jquery-plug/js/jquery-2.2.4.min.js"></script>

    <script src="/my-jquery-plug/page-onepage-scroll-effects/jquery.onepage-scroll.min.js"></script>

    <script>

        $(function(){
            //第一类回调滚动
//            $('.main').onepage_scroll({
//                sectionContainer: '.page',
//                afterMove: function(index){
//                    switch(index){
//                        case 1:
//                            alert('滚动到了第一屏');
//                            break;
//                        case 2:
//                            alert('滚动到了第二屏');
//                            break;
//                        case 3:
//                            alert('滚动到了第三屏');
//                            break;
//                        case 4:
//                            alert('滚动到了第四屏');
//                            break;
//                    }
//                }
//            });

            //第二类横屏滚动
            $('.main').onepage_scroll({
                sectionContainer: '.page',
                direction: 'horizontal'
            });

            //第三类带洞指定滚动
//            $('.main').onepage_scroll({
//                sectionContainer: '.page',
//                responsiveFallback: 600
//            });

            //第四类不带滚得，站着滚，这是什么滚
//            $('.main').onepage_scroll({
//                sectionContainer: '.page',
//                loop: false
//            });

        });
    </script>
</head>
<body>
<div class="main">
    <div class="page page1">
        <p class="title">第一屏</p>
    </div>
    <div class="page page2">
        <p class="title">第二屏</p>
    </div>
    <div class="page page3">
        <p class="title">第三屏</p>
    </div>
    <div class="page page4">
        <p class="title">第四屏</p>
    </div>
</div>

</body>

</html>