<!DOCTYPE html>
<html lang="zh-CN" class="ie10">
<head>
    <meta charset="utf-8" content-type="text/javascript">
    <!--<meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="author" content="SHAREit Team">
    <meta name="keywords" content="SHAREit,茄子快传,数据传输,手机互传,茄子换机,多人互传,跨平台传输工具,无线传输软件,无网互传,手机电脑互传软件,shareit-for-pc,shareitforpc,shareit-download,shareitdownload">
    <meta name="description" content="茄子快传是速度最快的近场传输软件，无需流量、无需网络可即可任意互传文件。传输速度秒杀蓝牙200倍，且支持Android / iOS / Mac / Windows / WinPhone各平台设备">
    <title>666</title>
    <meta property="og:title" content="茄子快传-风行全球的面对面极速互传神器" />
    <meta property="og:description" content="茄子快传是速度最快的近场传输软件，无需流量、无需网络可即可任意互传文件。传输速度秒杀蓝牙200倍，且支持Android / iOS / Mac / Windows / WinPhone各平台设备" />
    <meta property="og:image" content="http://www.ushareit.com/public/images/SHAREitlogo.png" />
    <meta property="og:url" content="http://www.ushareit.cn" />-->
    <!--<link rel="shortcut" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">-->
    <link rel="stylesheet" href="/my-jquery-plug/sky-chezi-effects/sky-long/index.css">
    <link rel="stylesheet" href="/my-jquery-plug/sky-chezi-effects/sky-long/common2.css">
    <link rel="stylesheet" href="/my-jquery-plug/sky-chezi-effects/sky-long/common.css">
    <link rel="stylesheet" href="/my-jquery-plug/sky-chezi-effects/sky-long/styles.css">
    <!--<link rel="prefetch" href="/img/bg2.jpg">
    <link rel="prefetch" href="/my-jquery-plug/sky-chezi-effects/sky-long/fzltxh.TTF">
    <link rel="prefetch" href="/my-jquery-plug/sky-chezi-effects/sky-long/fzltxh.woff">-->
    <script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/jquery.min.js"></script>
    <!--[if !IE]><!-->
    <!--<script>
        if (/*@cc_on!@*/false) {
            document.documentElement.className+=' ie10';
        }
    </script>-->
    <!--<![endif]-->
    <!--<style type="text/css">
        .ie10 .middlebox{
            display: block;
            vertical-align: none;
            overflow: hidden;
            height: auto;
            margin-top: 10%;
        }
        .hot{
            position: relative;
        }
        .hot .hot_img{
            position: absolute;
            top:-8px;
            right: 4px;
            width: 25px;
            height: 25px;
        }
        .hot_img img{
            width: 100%;
        }
    </style>-->
</head>
<body class="zh" id="wrapper">
<!--<div style="display: none">
    <img src="http://www.ushareit.cn/public/images/SHAREitlogo.png" alt="">
</div>-->
<div id="fullpage">
    <!-- 第一屏section1 -->
    <div class="section" id="section1">
        <!-- 一闪一闪亮晶晶 -->
        <div id="particles-js"></div>
        <div class="box">
            <div class="head"><!-- 导航 -->
                <nav>
                    <h1><a class="logo" href="/"><span>茄子快传官网</span></a></h1>
                    <div class="nav">
                        <a href="/zh/index.html" class="selected nav_item">首页</a>
                        <a href="/zh/help.html" class="nav_item">帮助</a>
                        <span id="more">
                                <a  class="nav_item">产品</a>
                                <div class="select_more">
                                    <span id="square"></span>
                                    <ul>
                                        <li><a href="/zh/cloneit.html" target="_blank">茄子换机</a></li>
                                        <li><a href="/zh/lockit.html" target="_blank">应用锁</a></li>
                                        <li class="no_bottomline"><a href="/zh/cleanit.html" target="_blank">空间清理</a></li>
                                    </ul>
                                </div>
                            </span>
                        <!-- <span id="game">
                            <a  class="nav_item">游戏中心</a>
                            <div class="select_more_G">
                                <span id="squareG"></span>
                                <ul>
                                    <li><a href="/zh/game/showme.html" target="_blank">你演我猜</a></li>
                                    <li class="no_bottomline"><a href="/zh/game/who.html" target="_blank">谁是卧底</a></li>
                                </ul>
                            </div>
                        </span> -->
                        <!--<a href="/zh/hot.html" class="hot nav_item">报告 <span class="hot_img"><img src="/zh/assets/images/pdf/new.png" alt=""></span></a>
                        <a href="/zh/about.html" class="nav_item">关于</a>-->
                    </div>
                    <!--<div class="lang">
                        <a  class="selected">中文</a>
                        <span>|</span>
                        <a href="/en/index.html" class="">English</a>
                    </div>-->
                </nav>
            </div>
            <!-- 第一屏 主体内容 -->
            <div class="middlebox">
                <div class="headbox">
                   <!-- <div class="phone">
                        <img src="/zh/assets/images/phone.png"  alt="茄子快传">
                    </div>-->
                    <div class="intro">
                        <!--<h2>茄子快传</h2>
                        <h3>风行全球的面对面极速互传神器</h3>
                        <h4>比蓝牙快<span class="big_font">200倍</span>，传输<span class="big_font">免流量</span>，全球<span class="big_font">10亿+</span>人正在使用！</h4>
                        <div class="downbtns">
                            <a href="http://w.ushareit.com/w/official/apk/SHAREit-KCWEB.apk" class="downbtn an" data-click='{"key":"shareit_android_download","lang":"zh"}'>
                                <img src="/public/images/down_icon_Android.png"  width="12.5%" alt="Android版下载">
                                <span>Android</span>
                            </a>
                            <a href="https://itunes.apple.com/cn/app/id725215120?mt=8" target="_blank" class="downbtn ios" data-click='{"key":"shareit_ios_download","lang":"zh"}'>
                                <img src="/public/images/down_icon_iOS.png" width="12.5%"  alt="iOS版下载">
                                <span id="btn_cen">iOS</span>
                            </a>
                            <a href="https://www.microsoft.com/store/apps/9wzdncrdsz0p" target="_blank" class="downbtn win" data-click='{"key":"shareit_wp_download","lang":"zh"}'>
                                <img src="/public/images/down_icon_Winphone.png" width="12.5%" alt="WinPhone版下载">
                                <span>WinPhone</span>
                            </a>
                            <a href="http://w.ushareit.com/w/official/exe/SHAREit-KCWEB.exe" class="downbtn pc" data-click='{"key":"shareit_pc_download","lang":"zh"}'>
                                <img src="/public/images/down_icon_PC.png" width="12.5%" alt="Windows版下载">
                                <span>Windows</span>
                            </a>
                            <a href="http://w.ushareit.com/w/official/dmg/uShareIt_official.dmg" class="downbtn mac" data-click='{"key":"shareit_mac_download","lang":"zh"}'>
                                <img src="/public/images/Mac.png" width="12.5%" alt="Mac版下载">
                                <span id="btn_cen">Mac</span>
                            </a>
                        </div>-->
                    </div>
                </div>
                <div class="seevideo"><!-- 底部button -->
                   <!-- <img src="/public/images/videobtn.png" height="24" width="32" alt="观看产品宣传片">-->
                    我是底部
                    <a href="javascript:void(0)" id="look"><span>了解更多 ></span></a>
                </div>
            </div>
        </div>
    </div>



    <!-- 第二屏section2 -->
    <div class="section white" id="section2">
        <div class="a1 out">
            <!--<h2 class="font">
                    &lt;!&ndash;<span class="font-text">
                        <span class="font-text-top">文件速传 多人互动 </span>
                        <span class="font-text-bottom">秒杀蓝牙200倍，大片游戏随意传<br>生活快速互联，SO EASY！</span>
                    </span>
                <span class="font-icon">
                        <img src="/zh/assets/images/pic1-2.png" alt="多人互动">
                    </span>&ndash;&gt;
            </h2>-->
            <!--<div class="pic">
                <img src="/public/images/pic1.png" alt="茄子快传比蓝牙快">
            </div>-->
        </div>
    </div>

    <!-- 第三屏section3 -->
    <div class="section gray" id="section3">
        <div class="a2 out">
            <!--<h2 class="font">
                    <span class="font-text align-right">
                      <span class="font-text-top">全球热传 实时发现 </span>
                      <span class="font-text-bottom">全球潮流热传榜单，随时随刻给你精彩<br>让“low”字彻底远离你的朋友圈</span>
                    </span>
                <span class="font-icon">
                        <img src="/zh/assets/images/pic2-2.png" alt="热传榜单 朋友圈">
                    </span>
            </h2>-->
            <!--<div class="pic">
                <img src="/public/images/pic2.png" alt="APP IT">
            </div>-->
        </div>
    </div>

    <!-- 第四屏section4 -->
    <div class="section white" id="section4">
        <div class="a3 out">
            <!--<h2 class="font">
                    <span class="font-text">
                      <span class="font-text-top">无线遥控 玩转电脑</span>
                      <span class="font-text-bottom">大屏选图，高清美图大屏浏览&nbsp;&nbsp;&nbsp;&nbsp;PPT演示，大课演讲轻松展示<br>
                      浏览电脑，电脑内容快速下载&nbsp;&nbsp;&nbsp;&nbsp;备份照片，生活点滴一键备份</span>
                    </span>
                <span class="font-icon">
                        <img src="/zh/assets/images/pic3-2.png" alt="文件备份 PPT演示">
                    </span>
            </h2>
            <div class="pic">
                <img src="/public/images/pic3.png" alt="多人互动 极速分享">
            </div>-->
        </div>
    </div>

    <!-- 第五屏section5 -->
    <div class="section  gray" id="section5">
        <div class="a4 out">
            <!--<h2 class="font">
                    <span class="font-text align-right">
                      <span class="font-text-top">手机资料 一键转移 </span>
                      <span class="font-text-bottom">买了新设备，各种私人文件数据不用愁<br>
                      茄子换机帮你快速安全转移</span>
                    </span>
                <span class="font-icon">
                        <img src="/zh/assets/images/pic4-2.png" alt="茄子换机">
                    </span>
            </h2>
            <div class="pic">
                <img src="/public/images/pic4.png" alt="设备备份 转移资料">
            </div>-->
        </div>
    </div>

    <!-- footer  -->
    <footer>
        <div class="foot">
            <div class="info">
                底部
            </div>
        </div>
    </footer>
    <!-- 弹出层 -->
    <!--<div id="mask">
        <img src="/public/images/close.png" alt="关闭" id="close">
        <div class="videobox">
            <div id="jp_container_1" class="jp-video">
                &lt;!&ndash;container in which our video will be played&ndash;&gt;
                <div id="jquery_jplayer_1" class="jp-jplayer"></div>    &lt;!&ndash;main containers for our controls&ndash;&gt;
                <div class="jp-gui">
                    <div class="jp-interface">
                        <div class="jp-controls-holder">
                            &lt;!&ndash;play and pause buttons&ndash;&gt;
                            <a href="javascript:;" class="jp-play" tabindex="1">play</a>
                            <a href="javascript:;" class="jp-pause" tabindex="1">pause</a>
                            <span class="separator sep-1"></span>
                            <div class="jp-progress">&lt;!&ndash;progress bar&ndash;&gt;
                                <div class="jp-seek-bar">
                                    <div class="jp-play-bar"><span></span></div>
                                </div>
                            </div>
                            &lt;!&ndash;time notifications&ndash;&gt;
                            <div class="jp-current-time"></div>
                            <span class="time-sep">/</span>
                            <div class="jp-duration"></div>
                            <span class="separator sep-2"></span>
                            &lt;!&ndash;mute / unmute toggle&ndash;&gt;
                            <a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a>
                            <a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a>
                            &lt;!&ndash;volume bar&ndash;&gt;
                            <div class="jp-volume-bar">
                                <div class="jp-volume-bar-value"><span class="handle"></span></div>
                            </div>
                            <span class="separator sep-2"></span>
                            &lt;!&ndash;full screen toggle&ndash;&gt;
                            <a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">full screen</a>
                            <a href="javascript:;" class="jp-restore-screen" tabindex="1" title="restore screen">restore screen</a>
                        </div>&lt;!&ndash;end jp-controls-holder&ndash;&gt;
                    </div>&lt;!&ndash;end jp-interface&ndash;&gt;
                </div>&lt;!&ndash;end jp-gui&ndash;&gt;
                &lt;!&ndash;unsupported message&ndash;&gt;
                <div class="jp-no-solution">
                    <span>Update Required</span>
                    Here's a message which will appear if the video isn't supported. A Flash alternative can be used here if you fancy it.
                </div>
            </div>
        </div>
    </div>-->
</div>
</body>

<!--<script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/jquery.slimscroll.min.js"></script>-->
<!--<script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/jquery.easings.min.js"></script>-->
<script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/particles.min.js"></script>
<script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/link.js"></script>
<!--<script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/jquery.jplayer.min.js"></script>-->
<!--<script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/noscroll.js"></script>-->
<!--<script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/index.js"></script>-->
<!--<script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500316606" cid="500316609" ></script>-->
<script type="text/javascript">
//    $(document).ready(function(){
//        // 弹出视频播放器
//        $('#look').click(function(event) {
//            var t = $(window).scrollTop();
//            var h = $(window).height();
//            var hh =document.body.clientHeight;
//
//            var hhh = h > hh? hh : h;
//            disable_scroll();
//            $('#mask').css({"top":t,"height":hhh}).show();
//            window.document.onkeydown = disableRefresh;
//            $('#close').click(function(event) {
//                enable_scroll();
//                $('#mask').hide();
//                $("#jquery_jplayer_1").jPlayer( "pause" );
//            });
//        });
//
//        $("#jquery_jplayer_1").jPlayer({
//            ready: function () {
//                $(this).jPlayer("setMedia", {
//                    m4v: "http://w.ushareit.com/w/official/video/introduce.mp4",
//                    //ogv: "/video/video.ogv",
//                    //webmv: "/video/video.webm",
//                    poster: "http://w.ushareit.com/w/official/video/video.png"
//                });
//            },
//            swfPath:"/public/jplayer/js/jquery.jplayer.swf",
//            supplied: "webmv, ogv, m4v",
//            size: {
//                width: "570px",
//                height: "391px",
//                cssClass: "jp-video-360p"
//            },
//            //smoothPlayBar: true,
//            keyEnabled: true,
//        });
//
//        /*定义控制视频播放*/
//        $(".jp-jplayer").click(function(){
//
//            var p = $(".jp-play").attr('style');
//            if (p ==undefined) {
//                $("#jquery_jplayer_1").jPlayer( "play" );
//            }else if(p == 'display: none;') {
//                $("#jquery_jplayer_1").jPlayer( "pause" );
//            }else{
//                $("#jquery_jplayer_1").jPlayer( "play" );
//            }
//
//        });
//        $(".videobox").hover(function() {
//            $(".jp-gui").fadeIn('400');
//        }, function() {
//            $(".jp-gui").fadeOut('400');
//        });
//
//    });
</script>

<script type="text/javascript">
//    $(document).ready(function() {
//        // 第一屏 背景图居中
//        var w = $(document).width() || $(window).width();
//
//        var tw = (w-550)/2;
//        var ttw = (w-420)/2;
//
//        margincenter(".head");
//
//        function margincenter(id){
//            var w = $(document).width() || $(window).width();
//            var idw = $(id).width();
//            var l = ( w - idw )/2;
//            $(id).css('left', l +'px');
//
//        }
//        // 遮罩层
//        $("#cover").slideUp('2000');
//
//        // 第一屏占全屏
//        //var h = $(window).height();
//        var h = document.body.clientHeight;
//        if(h<800){
//            $('#section1').css({height: h});
//        }else{
//            $('#section1').css({height: 800});
//        }
//
//    });
</script>
</html>
