<!DOCTYPE html>
<html lang="zh-CN" class="ie10">
<head>
    <meta charset="utf-8" content-type="text/javascript">
    <link rel="stylesheet" href="/my-jquery-plug/sky-chezi-effects/sky-long/index.css">
    <script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/jquery.min.js"></script>
</head>
<body class="zh" id="wrapper">
<div id="fullpage">
    <!-- 我是面子 -->
    <div class="section" id="section1">
        <!-- 星空打飞机 -->
        <div id="particles-js"></div>
    </div>
    <!-- footer  -->
    <footer>
        我是底裤
    </footer>

</div>
</body>
<!-- 颗粒需调教 -->
<script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/particles.min.js"></script>
<script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/link.js"></script>
</html>
