<!DOCTYPE html>
<html lang="zh-CN" class="ie10">
<head>
    <meta charset="utf-8" content-type="text/javascript">
    <link rel="stylesheet" href="/my-jquery-plug/sky-chezi-effects/sky-long/index.css">
    <script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/jquery.min.js"></script>
    <link rel="stylesheet" href="/my-jquery-plug/point-clay-effects/css.css">
</head>
<body class="zh" id="wrapper">
<div id="fullpage">
    <!-- 我是面子 -->
    <div class="section" id="section1">
        <!-- 星空打飞机 -->
        <div id="particles-js"></div>
    </div>
    <!-- footer  -->
    <footer>
        <svg class="filter" version="1.1">
            <defs>
                <filter id="gooeyness">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10" result="gooeyness" />
                    <feComposite in="SourceGraphic" in2="gooeyness" operator="atop" />
                </filter>
            </defs>
        </svg>
        <div class="dots">
            <div class="dot mainDot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </footer>

</div>
</body>
<!-- 颗粒需调教 -->
<script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/particles.min.js"></script>
<script type="text/javascript" src="/my-jquery-plug/sky-chezi-effects/sky-long/link.js"></script>
</html>
